name: Benchmark
on:
  workflow_dispatch:
    inputs:
      benchType:
        type: choice
        description: 'Type (self: all generators, alone: all algorithms)'
        default: 'self'
        options:
          - self
          - alone
        required: true
      numIterations:
        description: 'Number of iterations'
        default: '1000'
        required: true
      numPerRun:
        description: 'Number per run'
        default: '100'
        required: true
jobs:
  benchmark:
    name: 'Benchmark'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Using Node v22.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.14.0'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build benchmark package
        run: pnpm build:bench:new
      - name: Benchmark
        run: pnpm bench ${{github.event.inputs.benchType}} ${{github.event.inputs.numIterations}} ${{github.event.inputs.numPerRun}}
